@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    color: grey;
    font-size: 16px;
}

#idTitle {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 30px;
}

body {
    /* background-image: url("background-image.svg");
    background-repeat: no-repeat; */
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;

}

#idAbt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.nav_links li {
    display: inline-block;
    margin-right: 30px;
}

.nav_links li a {
    transition: all, 0.3s ease;
}

.nav_links li a:hover {
    color: black;
}

#idAbt:hover {
    color: black;
}

#idStore {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#idWomen {
    background-image: url("https://media.jadedldn.com//s/files/1/0022/9824/9267/files/split_screen_new_1024x1024.jpg?v=1684168577&twic=v1/resize=1000");
}

#idMen {
    background-image: url("https://media.jadedldn.com//s/files/1/0022/9824/9267/files/Artboard_2_de2c3df2-8fa4-4ff0-820c-82ecff77108a_1024x1024.jpg?v=1684165990&twic=v1/resize=1000");
    background-position-y: -60px;
    background-position-x: -100px;
}

#idMen,
#idWomen {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    transition: all, 0.3s ease;
    color: white;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#idMen:hover,
#idWomen:hover {
    font-size: 80px;
    filter: blur(2px);
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-16 {
    border: none;
    color: #000;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

button {
    margin: 20px;
}